body {
    background-color: white;
    font-size: 20px;
    font-family: Georgia, serif;
}
h1 {
    color: black;
}
h2 {

    text-align: center;
}
h3 {
    color:black;
}
div {
    margin: auto;
    border: 3px solid black;
    padding: 1em;
    text-align: center;
    width: 60%;
    overflow: auto;
}
.link-a {
    padding-left: 5em;
    padding-right: 5em;
}
.div1 {
    float: left;
    width: 250px;
    height: 250px;
}
.div2 {
    margin-left: 325px;
    width: 65%;
    height: 250px;
}
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.block1 {
    width: 100%;
    row-span: 4;
}