<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/layout.css">
    <meta charset="UTF-8">
    <title>Assignments - Mr.Yagci</title>
</head>
<body>

<div>
    <h1>Mr. Yagci's Website</h1>
    <h3>Welcome to Math Class</h3>
</div><br>

<div>
    <a class="link-a" href="home.html">Home</a>
    <a class="link-a" href="assignments.html.html">Assignments</a>
    <a class="link-a" href="contact.html.html">Contact Me</a>
</div><br>

<div>
    <p style="color: darkcyan">Information about Mr. Yagci's math assignments policy</p>
</div><br>

<div style="width: 30%;">
    <h2>Current Assignments</h2>
</div><br><br>

<div>
    <a class="link-a" href="home.html">Home</a>
    <a class="link-a" href="assignments.html">Assignments</a>
    <a class="link-a" href="contact.html">Contact Me</a>
</div><br>

<div style="font-size: 12px">
    <p style="text-align: left">Copyright 2019. All rights reserved
        <span style="float:right;">
            developed by @TylerFowsantia
        </span>
    </p>
</div>
</body>
</html>