<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/layout.css">
    <meta charset="UTF-8">
    <title>Assignments - Mr.Yagci</title>
<!-----------------------------------Jeremiah---------------------------------------->
    <style>
    table {
        border-collapse: collapse;
        width: 100%
    }
        td, th{
            border: 1px solid #000000;
            text-align: left;
            padding: 8px;
        }
    tr:nth-child(even){
        background-color: #aae0f7;
    }
</style>
        <!--------------------------------------------------------------------------->

</head>
<body>

<div>
    <h1>Mr. Yagci's Website</h1>
    <h3>Welcome to Math Class</h3>
</div><br>

<div>
    <a class="link-a" href="/">Home</a>
    <a class="link-a" href="/assignments">Assignments</a>
    <a class="link-a" href="/contact">Contact Me</a>
</div><br>

<div>
    <p>Information about Mr. Yagci's math assignments policy</p>
    <ul>
        <li>No late work, not even by a second.</li>
        <li>No incomplete assignments.</li>
        <li>No copying.</li>
        <li>Only use pencils on paper assignments.</li>
        <li>Participate.</li>
    </ul>
</div><br>

<div style="width: 30%;">
    <h2>Current Assignments</h2>
    <!---------------------------Jeremiah------------------------------------------------>

    <table>

        <tr>
            <th>Assignment Name</th>
            <th>Posted</th>
            <th>*Due*</th>
            <th>Description</th>
        </tr>
        {%for i in table_assignments%}
        <tr>
            {% for x in i %}
            <th>{{x}}</th>
            {%endfor%}
        </tr>
        {%endfor%}
        </table>
    <!--------------------------------------------------------------------------->
    <div style="width: 30%;">
        <h2>Assignment  Forms</h2>
        <form action="/action_page.php">
            Assignment Name:
            <br>
        <input type="text" name="firstname" value="Mickey">
        <br>
        Last name:<br>
        <input type="text" name="lastname" value="Mouse">
        <br><br>
        <input type="submit" value="Submit">
        Last name:<br>
            <label>
                <input type="text" name="lastname" value="Mouse">
            </label>
            <br><br>
        <input type="submit" value="Submit">
        Last name:<br>
        <input type="text" name="lastname" value="Mouse">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</div>
</div><br><br>
<div>
    <a class="link-a" href="/">Home</a>
    <a class="link-a" href="/assignments">Assignments</a>
    <a class="link-a" href="/contact">Contact Me</a>
</div><br>

<div style="font-size: 12px">
    <p style="text-align: left">Copyright 2019. All rights reserved
        <span style="float:right;">
            developed by @TylerFowsantia
        </span>
    </p>
</div>
</body>
</html>
