<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/layout.css">
    <meta charset="UTF-8">
    <title>Assignments - Mr.Yagci</title>
<!-----------------------------------Jeremiah---------------------------------------->
    <style>
    table {
        border-collapse: collapse;
        width: 100%
    }
        td, th{
            border: 1px solid #000000;
            text-align: left;
            padding: 8px;
        }
    tr:nth-child(even){
        background-color: #aae0f7;
    }
</style>
        <!--------------------------------------------------------------------------->

</head>
<body>

<div>
    <h1>Mr. Yagci's Website</h1>
    <h3>Welcome to Math Class</h3>
</div><br>

<div>
    <a class="link-a" href="home.html">Home</a>
    <a class="link-a" href="assignments.html">Assignments</a>
    <a class="link-a" href="contact.html">Contact Me</a>
</div><br>

<div>
    <p style="color: darkcyan">Information about Mr. Yagci's math assignments policy</p>
</div><br>

<div style="width: 30%;">
    <h2>Current Assignments</h2>
    <!---------------------------Jeremiah------------------------------------------------>

    <table>
        <tr>
            <th>Video Name</th>
            <th>Posted</th>
            <th>*Due*</th>
        </tr>
        <tr>
            <th><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Math for Dummies Cause U dum</a></th>
            <th>11/20/19</th>
            <th>11/21/20</th>
        </tr>
        <tr>
            <th><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Air Pods Jesse SUper form</a></th>
            <th>11/20/19</th>
            <th>11/21/20</th>
        </tr>
        <tr>
            <th><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Boolean</a></th>
            <th>11/20/19</th>
            <th>11/21/20</th>
        </tr>
        </table>
    <!--------------------------------------------------------------------------->

</div><br><br>

<div>
    <a class="link-a" href="home.html">Home</a>
    <a class="link-a" href="assignments.html">Assignments</a>
    <a class="link-a" href="contact.html">Contact Me</a>
</div><br>

<div style="font-size: 12px">
    <p style="text-align: left">Copyright 2019. All rights reserved
        <span style="float:right;">
            developed by @TylerFowsantia
        </span>
    </p>
</div>
</body>
</html>