<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/layout.css">
    <meta charset="UTF-8">
    <title>Assignments - Mr.Yagci</title>
</head>
<body>

<div>
    <h1>Mr. Yagci's Website</h1>
    <h3>Welcome to Math Class</h3>
</div><br>

<div>
    <a class="link-a" href="home.html">Home</a>
    <a class="link-a" href="assignments.html">Assignments</a>
    <a class="link-a" href="contact.html">Contact Me</a>
</div><br>

<div>
    <h2>Contact Me</h2>
    <h3>If you have questions or concerns, use this form to contact me.</h3>
    <form name="search" action="." method="post">
        <label>Email: </label>
        <input type="text" name="email">
        <label>Password: </label>
        <input type="text" name="password">
        <label>Message: </label>
        <input type="text" name="message">
        <input type="submit" value="Send Message">
    </form>
</div>

<div>
    <a class="link-a" href="home.html">Home</a>
    <a class="link-a" href="assignments.html">Assignments</a>
    <a class="link-a" href="contact.html">Contact Me</a>
</div><br>

<div style="font-size: 12px">
    <p style="text-align: left">Copyright 2019. All rights reserved
        <span style="float:right;">
            developed by @TylerFowsantia
        </span>
    </p>
</div>
</body>
</html>