<!DOCTYPE html>
<html lang="en">
<head>
                                <!-----------------------Jeremiah---------------------------------------->
    <style>
li{
    text-align: left;
}
    </style>
                                <!-----------------------Jeremiah---------------------------------------->
    <link rel="stylesheet" href="../static/layout.css">
    <meta charset="UTF-8">
    <title>Assignments - Mr.Yagci</title>
</head>
<body>

<div>
    <h1>Mr. Yagci's Website</h1>
    <h3>Welcome to Math Class</h3>
</div><br>

<div>
    <a class="link-a" href="/">Home</a>
    <a class="link-a" href="/assignments">Assignments</a>
    <a class="link-a" href="/contact">Contact Me</a>
</div><br>
<div style="border: none">
    <div class="div1">
                            <!-----------------------Jeremiah---------------------------------------->
        <img src="https://media.licdn.com/dms/image/C4D03AQFZTXGlYeVv7Q/profile-displayphoto-shrink_200_200/0?e=1580342400&v=beta&t=bDiTMsVss-m0Q7_iwBGZZLyMi1vMESKtriMN8cDDPbU" alt="Mellow_Yellow" width="250" height="250">
                    <!-----------------------Jeremiah---------------------------------------->
    </div>
    <div class="div2">
        <p style="font-size: 25px; text-align: left">
            Background information about Mr. Yagci
                                    <!-----------------------Jeremiah---------------------------------------->
<ul>
  <li>Instructed 9 th -11 th grade levels of Geometry, ACT/SAT college readiness course</li>
  <li>Coached for math competitions: MathCON</li>
  <li>Instructed advanced students in Geometry course.</li>
  <li>Created and implemented KAHOOT games into the classroom settings.</li>
  <li> Prepared binder quizzes after each chapter to ensure that students are organized.</li>
  <li>Mentored CYSP (Concept Young Scholar Program) students, met Saturdays to study and
have fun.</li>
        </ul>
        <p style="font-size: 25px; text-align: left">
            Education
  <ul>
        <li><a href="">American College of Education</a></li>
        <li><a href="">Dukuz Eylul University</a></li>
</ul>
                                        <!-----------------------Jeremiah---------------------------------------->
    </div>
</div><br>

<div>
    <a class="link-a" href="/">Home</a>
    <a class="link-a" href="/assignments">Assignments</a>
    <a class="link-a" href="/contact">Contact Me</a>
</div><br>

<div style="font-size: 12px">
    <p style="text-align: left">Copyright 2019. All rights reserved
        <span style="float:right;">
            developed by @TylerFowsantia, @JeremiahCole, @JustinWin
        </span>
    </p>
</div>
</body>
</html>